@model List<ProductDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a GraphQL client Sample code implemented with ASP.NET Core 7 <br />
        Here is the sample github repository
        <a href="https://github.com/devFarshadFahimi/Samples.GraphQL">Source Code</a>
    </p>

    <hr class="bg-info" />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Status</th>
                <th>Description</th>
                <th>Category</th>
                <th>Operation</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id</td>
                <td> @item.Name </td>
                <td> @item.Price </td>
                <td> @item.Status </td>
                <td> @item.Description </td>
                <td> @item.ProductCategory.Title </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Detail","Home", new {id = item.Id})" >
                        Detail
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
