@model List<ProductDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <hr class="bg-info" />
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id</td>
                <td> @item.Name </td>
                <td> @item.Price </td>
                <td> @item.Status </td>
                <td> @item.Description </td>
                <td> @item.ProductCategory.Title </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Detail","Home", new {id = item.Id})" >
                        Detail
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
